<!-- BEGIN OUTPUT from 'themes/bootstrap/templates/menu/menu--main.html.twig' -->

<div class="mnavcon col-sm-9 col-sm-push-3">

  <ul class="menu nav navbar-nav">
    <li class="col-md-2 navspacer">
      &nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="expanded dropdown col-md-2">
      <a href="/" class="dropdown-toggle" data-target="#" data-toggle="dropdown">Issues
        <span class="caret"></span>
      </a>
      <ul class="menu dropdown-menu">
        <li>
          <a href="/current-issue" data-drupal-link-system-path="current-issue">Current Issue</a>
        </li>
        <li>
          <a href="/back-issues" data-drupal-link-system-path="back-issues">Back Issues</a>
        </li>
      </ul>

    </li>
    <li class="expanded dropdown col-md-2">
      <a href="/" class="dropdown-toggle" data-target="#" data-toggle="dropdown">Topics
        <span class="caret"></span>
      </a>
      <ul class="menu dropdown-menu">
        <li>
          <a href="/topics/arts-humanities" title="Arts &amp; Humanities" data-drupal-link-system-path="taxonomy/term/1">Arts &amp; Humanities</a>
        </li>
        <li>
          <a href="/topics/economics-business" title="Economics &amp; Business" data-drupal-link-system-path="taxonomy/term/2">Economics &amp; Business</a>
        </li>
        <li>
          <a href="/topics/education-social-service" title="Education &amp; Social Service" data-drupal-link-system-path="taxonomy/term/3">Education &amp; Social Service</a>
        </li>
        <li>
          <a href="/topics/law-policy-society" title="Law, Policy &amp; Society" data-drupal-link-system-path="taxonomy/term/4">Law, Policy &amp; Society</a>
        </li>
        <li>
          <a href="/topics/science-medicine" title="Science &amp; Medicine" data-drupal-link-system-path="taxonomy/term/5">Science &amp; Medicine</a>
        </li>
        <li>
          <a href="/topics/university-news" title="University News" data-drupal-link-system-path="taxonomy/term/6">University News</a>
        </li>
      </ul>

    </li>
    <li class="expanded dropdown col-md-2">
      <a href="/" class="dropdown-toggle" data-target="#" data-toggle="dropdown">Alumni
        <span class="caret"></span>
      </a>
      <ul class="menu dropdown-menu">

        <li>
          <a href="/formats/alumni-essay" title="Essays" data-drupal-link-system-path="taxonomy/term/131">Essays</a>
        </li>
        <li>
          <a href="/formats/notes" title="In the News" data-drupal-link-system-path="in-the-news">In the News</a>
        </li>
        <li>
          <a href="/formats/releases" title="Releases">Releases</a>
        </li>
        <li class="notesli">
          <a href="/formats/notes" title="Class Notes" data-drupal-link-system-path="taxonomy/term/1148">Class Notes</a>
        </li>
      </ul>

    </li>
    <li class="expanded dropdown col-md-2">
      <a href="/" class="dropdown-toggle" data-target="#" data-toggle="dropdown">About<span class="caret"></span>
      </a>
      <ul class="menu dropdown-menu">
        <li>
          <a href="/advertising" data-drupal-link-system-path="node/303">Advertising</a>
        </li>
        <li>
          <a href="/alumni-publications">Alumni&nbsp;Publications</a>
        </li>
        <li>
          <a href="/contact" data-drupal-link-system-path="node/312">Contact Us</a>
        </li>
                <li>
          <a href="/address-update" data-drupal-link-system-path="node/4896">Update mailing address</a>
        </li>
        <li>
          <a href="/freelancer-faq" data-drupal-link-system-path="node/1335">Freelancer FAQ</a>
        </li>
        <li>
          <a href="/masthead" data-drupal-link-system-path="node/300">Masthead</a>
        </li>
      </ul>
    </li>





  <li class="col-md-2 searchli">
    <a class="searchnav" id="showsearch" href="#" data-drupal-link-system-path="search">
      <span class="icon glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Search</a>
  </span>
</li>




        <li class="expanded dropdown col-md-2 onlymobile">
          <a href="/" class="dropdown-toggle" data-target="#" data-toggle="dropdown">The&nbsp;University&nbsp;of&nbsp;Chicago
            <span class="caret"></span>
          </a>
          <ul class="menu dropdown-menu">
            <li>
              <a href="https://www.uchicago.edu" title="UChicago.edu">UChicago.edu</a>
            </li>

            <li>
              <a href="https://news.uchicago.edu/" title="UChicago News">UChicago&nbsp;News</a>
            </li>

          </ul>

        </li>

        <li class="col-md-2 onlymobile">
          <a href="https://alumniandfriends.uchicago.edu/" title="Alumni Association">Alumni&nbsp;Association</a>
        </li>
<!--
        <li class="col-md-2 onlymobile">
          <a href="/" title="Campaign" data-drupal-link-system-path="https://campaign.uchicago.edu/">Campaign</a>
        </li>
-->
        <li class="col-md-2 onlymobile navspacer">
        &nbsp;&nbsp;&nbsp;&nbsp;
        </li>
        <li class="col-md-2 onlymobile">
          <a class="btn-gift" href="https://giving.uchicago.edu/site/Donation2?df_id=1681&1681.donation=form1&mfc_pref=T&set.DesignationType=1022&set.Designee=1201" title="Make a Gift">Make a Gift</a>
        </li>





</ul>
</div>
<!-- END OUTPUT from 'themes/bootstrap/templates/menu/menu--main.html.twig' -->
