<div class="navcon col-sm-9 col-sm-push-3">
  <ul class="menu nav navbar-nav">
    <li class="col-md-2">
    &nbsp;&nbsp;&nbsp;&nbsp;
    </li>
        <li class="col-md-2">
    &nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="expanded dropdown col-md-2">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">The&nbsp;University<br>of&nbsp;Chicago
        <span class="caret"></span>
      </a>
      <ul class="menu dropdown-menu">


        <li>
          <a target="_blank" href="https://www.uchicago.edu" title="UChicago.edu">UChicago.edu</a>
        </li>

        <li>
          <a target="_blank" href="https://news.uchicago.edu/" title="UChicago News">UChicago News</a>
        </li>

      </ul>

    </li>

    <li class="col-md-2">
      <a target="_blank"  href="https://alumniandfriends.uchicago.edu/" title="Alumni & Friends">Alumni&nbsp;&amp;<br>Friends</a>
    </li>
<!--
    <li class="col-md-2">
      <a href="https://campaign.uchicago.edu/" title="Campaign">Campaign</a>
    </li>
 -->
    <li class="col-md-2">
    &nbsp;&nbsp;&nbsp;&nbsp;
    </li>
   
    <li class="col-md-2">
      <a  class="btn-gift" href="https://giving.uchicago.edu/site/Donation2?df_id=1681&1681.donation=form1&mfc_pref=T&set.DesignationType=1022&set.Designee=1201" title="Make a Gift">Make a Gift</a>
    </li>
  </ul>
</div>
