/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=JetBrains+Mono:wght@400;700&display=swap');



 body {
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #060606;
}

a {
  color: #ff00ff;
  text-decoration: none;
}

a:hover, a:focus {
  color: #ff00ff;
  text-decoration: none;
}

 div,
 p,
 li,
 ul,
 ol {
   font-family: 'JetBrains Mono', monospace;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: 'Press Start 2P', cursive;
 }

 h1, .h1 {
  font-size: 48px;

}
h2, .h2 {
  font-size: 40px;
}

h2.block-title{
  font-size: 24px;
}

h3, .h3 {
  font-size: 32px;
}

h4, .h4 {
  font-size: 24px;
}


h5, .h5 {
  font-size: 16px;
}


.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  /*border-bottom: 1px solid #ff00ff;*/
  border-bottom:none;
}

 .navbar-default .navbar-nav > li > a {
  color: #000;
/*font-family: 'Press Start 2P', cursive;*/
}



.navbar-default .navbar-brand {
  color: #ffffff;
 font-family: 'Press Start 2P', cursive;
font-weight:normal;
font-size:16px;
      text-transform: none;
}

 
 .view-icom-roster-1 .views-row,
 .view-icom-latest-uploads .views-row{
   float: left;
   background: #ff00ff;
   padding: 5px;
   margin: 5px;
   color: #000;
   font-weight: bold;
 }
 
 .view-icom-roster-1 .views-row a,
 .view-icom-latest-uploads .views-row a{
   color: #000;
   font-weight: bold;
   text-decoration:none;
   background:#ee00ee;
 
 }

 .view-icom-latest-uploads .views-row a:hover{
  background:#ff00ff;
 } 
 
 .view-icom-roster-1 .views-row img,
 .view-icom-latest-uploads .views-row img {
   background: #000;
 
 }
 
 
 .img-responsive {
   background: #000;
 }
 
 .view-icom-roster-1 .view-content,
 .view-icom-latest-uploads .view-content {
   display: flex;
   flex-wrap: wrap;
 }
 
 .view-icom-roster-1 .views-row {
   flex: 15%
 }
 
 @media screen and (max-width: 992px) {
   .view-icom-roster-1 .view-content {
     flex: 50%
   }
 }
 
 @media screen and (max-width: 600px) {
   .view-icom-roster-1 .views-row {
     flex-direction: column;
   }
 }
 
 .view-icom-roster-1 .views-row img{
   width: 100%;
 }
 
 
 
 .view-icom-latest-uploads .views-row {
   flex: 30%
 }
 
 @media screen and (max-width: 992px) {
 
   .view-icom-latest-uploads .view-content {
     flex: 50%
   }
 }
 
 @media screen and (max-width: 600px) {
 
   .view-icom-latest-uploads .views-row{
     flex-direction: column;
   }
 }
 
 
 
 .view-icom-latest-uploads .views-row .views-field-field-source-img {
 
   width: 60%;
   float: left;
   padding-right: 2.5px;
 }
 
 
 
 
 .view-icom-latest-uploads .views-row .views-field-field-source-img img{
   width: 100%;
 
 }
 
 .view-icom-latest-uploads .views-row .views-field-user-picture {
   width: 40%;
   float: left;
   padding-left: 2.5px;
 }
 
 .view-icom-latest-uploads .views-row .views-field-user-picture img {
   width: 100%;
   float: left;
 
 }
 
 
 .view-icom-latest-uploads .views-row .views-field-user-picture {
   float: right;
 }
 
 .view-icom-latest-uploads .views-field-title,
 .view-icom-latest-uploads .views-field-uid,
 .view-icom-latest-uploads .views-field-field-e,
 .views-field-field-upload-mp3 {
 
 
   clear: both;
 
 }
 
 .views-field-field-upload-mp3,
 .views-field-field-upload-mp3 .field-content,
 .file--mime-audio-mpeg {
   width: 100%;
 }
 
 
 .view-icom-latest-uploads .views-row a {
   font-size: 14px;
 }
 
 .view-icom-latest-uploads .views-row span {
   font-size: 12px;
   font-weight: normal;
 }
 

 
 .views-label-field-e span,
 .field-content {
   display: inline;
 }
 
 .view-icom-latest-uploads .views-field-title a{
   font-size: 1.5em;
 }
 
 .view-icom-latest-uploads span {
   font-size: 10px;
   font-weight: normal;
 }
 
 .views-field-field-source-img .field-content,
 .views-field-user-picture .field-content {
   width: 100%;
 }
 
 a {
   /*text-decoration: underline !important;*/
   text-transform: uppercase;
   -webkit-transition: all .1s linear;
   transition: all .1s linear;
 
 }
 
 a:hover {
   text-decoration: none !important;
   background: #000;
   color: #fff !important;
   -webkit-transition: all .1s linear;
   transition: all .1s linear;
 }
 
 
 
 .main-container {
   padding-bottom: 444px;
 
 }
 
 #player1 {
   background: #330033;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   opacity: 0.777;
 
 }
 
 #waveform {
   width: 100%;
 
 }
 
 #playpause {
 
   font-size: 40px;
 
   color: #00ff00;
   font-weight: normal;
   text-align: center;
   width: 100%;
   z-index: 999;
   cursor: pointer;
   font-family: 'Press Start 2P', cursive;
 
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   line-height: 48px;
   padding-bottom:30px;
 }
 
 
 .upload div {
   color: #fff;
 
 }
 
 .upload .field {
   padding: 15px;
 }
 
 .upload a {
   color: #ff00ff;
 }
 
 .upload .field--name-user-picture {
   float: left;
   color: #fff;
 }
 
 .upload .field--name-field-e .field--label {
   float: left;
   padding-right: 5px;
   color: #fff;
 }
 
 .upload .field--name-field-description {
   background: #440044;
   font-size: 20px;
   color: #fff;
 }
 

 
 
 .form-control {
   display: block;
   width: 100%;
   height: 64px;
   padding: 5px;
   font-size: 24px;
   line-height: 1.33;
   color: #fff;
   background-color: #440044;
   background-image: none;
   border: none;
   border-radius: 0;
   box-shadow: none;
   transition: none;
 }
 
 .region-content .field {
   padding: 5px;
 }
 
 
 
 #edit-field-e-wrapper {
   display: none;
 }
 
 .view-icom-upload-info img {
   width: 100%;
 
 }
 
 
 
 .view-icom-upload-info .views-field-title {
   color: #fff;
   /*font-size: 36px;*/
 }
 
 .block-views-blockicom-upload-info-block-1 h2.block-title {
   font-family: 'JetBrains Mono', monospace;
   font-size: 20px;
 }
 
 h3.popover-title {
   font-family: 'JetBrains Mono', monospace;
 }
 
 .btn {
 
   font-size: 24px;
   padding: 22px;
   line-height: 1;
 }


 .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 2px solid #ff00ff;
  padding: 11px;;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #000;
  background-image: none;
  border-color: #ff00ff;
}

.btn-success:hover {
  color: #ffffff;
  background-color: #000;
  border-color: #ff00ff;
}

.btn-default:hover {
  color: #ffffff;
  background-color: #000;
  border-color: #ff00ff;
}

.btn-default {
  color: #ffffff;
  background-color: #000;
  border-color: #ff00ff;
}

 
.form-actions .btn, .form-actions .btn-group {
margin-top:15px;
width:100%;
max-width:550px;
}


.file > span {
  background: #000;
  color: #00ff00;
  border-bottom: none;
  border-top: none;
  border:none;
  font-size:24px;
}

.file .file-icon{
  display:none;
}


.btn-danger{
  border:none;
}

.file .text-primary, .file .text-primary:hover {
  color: #00ff00;
}
 



 #edit-field-upload-mp3-0--description,
 #edit-field-description-0-format {
   display: none;
 }
 
 .help-block.description,
 .form-item-field-creativecommons-value label {
   font-size: 12px;
   color: #888;
 }
 
 form a {
   color: #ff00ff;
 }
 
 form label {
   font-size: 27px;
   font-weight: normal;
   color: #fff;
 }
 

 
 .field--name-field-description .description.help-block_ {
   display: none;
 }
 
 
 #playinfo {
   font-size: 20px;
   color: #00ff00;
   text-align: center;
   width: 100%;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
 /*
 .view-icom-latest-uploads .views-field-field-upload-mp3 a{
   font-family: 'Press Start 2P', cursive;
   text-decoration:none !important;
   font-size:16px;
   font-weight:normal;
   width:100%;
 padding:5px;
 }
 */
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 .h1,
 .h2,
 .h3,
 .h4,
 .h5,
 .h6 {
   font-weight: normal !important;
 
 }
 
 
 /*
 .view-icom-latest-uploads .views-field-field-upload-mp3{
   
   text-align:right;
     
 }
 */
 
 
 .view-icom-latest-uploads .views-field-field-upload-mp3 {
 
   position: absolute;
   top: 0;
   left: 0;
 
 }
 
 .views-row {
   position: relative;
 }
 
 .view-icom-latest-uploads .views-field-field-upload-mp3 a {
   font-family: 'Press Start 2P', cursive;
   text-decoration: none !important;
   font-size: 48px;
   font-weight: normal;
 
   padding: 10px;
   color: #fff;
   background: #ff00ff;
   opacity: 0.5;
 }
 
 .view-icom-latest-uploads .views-field-field-upload-mp3 a:hover{
   opacity: 1;
 }


 .navbar-default {
  background-color: #060606;
  border-color: #282828;
  background: #ff00ff;
  color: #000;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  font-weight:bold;
}

.commment{
  clear:both;
}


.commment{
  display:block;

  border:0;

   clear: both;

}

.commmentmeta{
  font-size:12px;
  text-align:right;
}

.field--name-field-description .field--item{
  border:1px solid #ff00ff;
  padding:5px;

}

.commment .field--name-user-picture img{
 border:1px solid #ff00ff;
 width:66px;
 height: 66px;
}

.commmentbox,
.commmentmeta{
  padding-left:77px;
}

.commment{
  /*border-bottom:1px solid #ff00ff;*/
  background:#660066;
  min-height:88px;
  padding:5px;

  margin-top:10px;
}

#player1{
  border-top:1px solid #ff00ff;
}

.commmentmeta{
 word-break: break-word;
  padding-left:82px;
}


.field--name-comment-body{
  word-break: break-word !important;
  min-height:60px;
 
 }

.commment h3{
   margin-top:66px;
 }

 .block-views-blockicom-upload-info-block-1{
  padding:66px;
}

.commmentadd,
#comment-form{
  padding-top:55px;
}


.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-right: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}

.filter-wrapper{
  display:none;
}

#edit-actions{
  padding-bottom: 33px;
}

.page-node-type-upload .main-container {
  padding-bottom: 222px;
}


.views-field-field-source-story{
  color:#fff;
  background:#330033;
  margin-top:5px;
  padding:10px;
  font-weight:normal;
  font-size:12px;
}

.views-field-field-source-story .field-content a{
  color:#fff;
  background:none;
    font-weight:normal;
  font-size:12px;
}

.page-header{
  text-align:center;
}

.view-display-id-block_4{
  max-width:777px;
  margin:0 auto;
  padding-bottom:33px;
}

.views-row .views-field-field-source-mp3  a,
.views-row .views-field-field-source-zip  a{
  font-size:16px;
  font-weight:normal;
  font-family: 'Press Start 2P', cursive;

  padding:15px;
  margin:15px;
}

.views-row .views-field-field-source-mp3,
.views-row .views-field-field-source-zip{
  
  
  padding:15px;
  margin:15px;
  text-align:center;
  width:100%;
}

.event.full,
.upload.full{
  margin:11px;
  padding:11px;
  clear:both;
  width: 100%;
  text-align:center;
  font-size:16px;
  line-height:66px;
}
.event.full  a,
.upload.full  a{
  font-size:16px;

  padding:11px;
  border: 2px solid #ff00ff;
}

#block-views-block-icom-latest-uploads-block-ingredients-pages,
#block-views-block-icom-latest-uploads-block-1{
  padding-top:66px;
}

button{
  background:none;
  border:none;
}



.navbar-right > li > a {

  border: 2px solid #000;
  margin:5px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.btn-success {
  color: #ffffff;
  background-color: #000;
  border-color: #ff00ff;
}


.js-form-file.form-file.form-control::-webkit-file-upload-button {
  visibility: hidden;
}
.js-form-file.form-file.form-control::before {
  content: '[Browse for .MP3]';
  display: inline-block;
  background:none;
  border: 2px solid #ff00ff;
  border-radius: 0;
  padding: 15px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: none;
  font-weight: bold;
  font-size: 16px;
}
.js-form-file.form-file.form-control:hover::before {
  /*border-color: black;*/
  
}
.js-form-file.form-file.form-control:active::before {
/*  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);*/

}

.form-actions.form-group.js-form-wrapper.form-wrapper{
  text-align:center;
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: none;
  outline-offset: -2px;
}

.form-control:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.js-form-managed-file.form-managed-file{
  text-align:center;
}

.views-field-field-description{
  font-weight:normal;
}



.breadcrumb {
  padding: 15px 15px;
  margin-bottom: 33px;
  margin-bottom: 33px;
  list-style: none;
  background-color: #220022;
  border-radius: 0;
}